@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap');
* {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
}
.banner-button , .banner-button {
    margin-bottom: 5vh;
    transition: 500ms;
}
.banner-button:hover , .banner-button:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
}


footer{
    background: rgb(1,17,37);
    background: linear-gradient(121deg, rgba(1,17,37,1) 31%, rgba(32,41,66,1) 100%);
}


p.h6{
    font-family: 'Sarabun', sans-serif;
}
iframe{
    box-shadow: 0px 5px 8px #888888;
    height: 100vh;
    border: none;
}
a img{
    width: 50%;

    transition: 0.5s all;
}

ul.link {
    text-decoration: none;
}
ul.link li{
    display: inline;
    list-style: none;
    padding-right: 1em;
}
ul.link li a{
    font-family: 'Sarabun', sans-serif;
}
@media screen and (max-width: 700px){
   ul.link li {
       display: block;
       padding-top: 1em;
       text-align: center;
   }
}

  