@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    font-family: 'Prompt', sans-serif;
    padding: 0;
    margin: 0;
}
nav {
    background: rgb(1,36,78);
    background: linear-gradient(121deg, rgba(1,36,78,1) 31%, rgba(61,78,126,1) 100%);
}
#logo {
    width: 170px;
    margin-left: 50px;
    transition: all 0.5s ease-in-out;
}
#logo:hover{
    transform: scale(1.2);
    opacity: 0.7;
}
.fac-banner {
    width: 75%;
}
#title{
    text-shadow: 2px 2px 5px black;
}
.nav-link{
    font-weight: bold;
}
ul li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: #ff7900;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
ul li:hover:after {
    width: 100%;
}
ul li ul li:hover:after {
    width: 0%;
}
