@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap');
nav#navbar {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
}
hr.dropdown-divider {
    list-style: none;
    text-decoration: none;
}

@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu>li:hover {
        background-color: #4cc9f0;
    }
    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
    .hide {
        display: none;
    }
    
    
}

footer{
    
    background: rgb(1,17,37);
    background: linear-gradient(121deg, rgba(1,17,37,1) 31%, rgba(32,41,66,1) 100%);
}

/* The overlay effect with black background */
.olr {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
  }
  
  /* The content */
  .olr-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  /* Close button */
  .olr .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    cursor: pointer;
    color: white;
  }
  
  .olr .closebtn:hover {
    color: #ccc;
  }
  
  /* Style the search field */
  .olr input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  .olr input[type=text]:hover {
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  .olr button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .olr button:hover {
    background: #bbb;
  }


/* ============ desktop view .end// ============ */

/* ============ small devices ============ */

@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
    a.hide  {
        margin-left: 3vh;
        display: block;
        
    }
    .hide {
        display: block;
    }
    .not-hide {
        display: block;
    }
}
nav#navbar {
    background: rgb(1,36,78);
    background: linear-gradient(121deg, rgba(1,36,78,1) 31%, rgba(61,78,126,1) 100%);
}
#logo {
    width: 170px;
    margin-left: 50px;
    transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 700px){
    .dropdown-item img{
        width: 10%!important;
    }
  }

li.breadcrumb-item{
    font-family: 'Prompt', sans-serif;
    color: black;
}