@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap');
h6{
    font-family: 'Sarabun', sans-serif;
    font-size: 3vh;
}
p#content{
    font-family: 'Sarabun', sans-serif;
    
}
h5{
    font-family: 'Prompt', sans-serif;
    font-size: 1vh;
}
a#content{
    font-family: 'Sarabun', sans-serif;
}
img#othernews{
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
    transition: all 0.5s ease-in-out;
}
img#othernews:hover{
    opacity: 0.7;

}